html {
  scroll-padding-top: 30px;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  border: 3px solid;
  border-width: 0;
  border-radius: 8px;
  background: linear-gradient(90deg, #f5af5f, #ee8c0d);
  position: sticky;
  width: 100%;
  top: 10px;
}

.h-tags {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  font-size: 20px;
  margin: 10px;
}

.h-tags a {
  text-decoration: none;
  padding: 10px 30px;
  color: white;
}
.h-tags a:hover {
  color: black;
}

.container {
  width: 100%;
  height: 100%;
}
section {
  width: 100%;
  height: 100%;
}

/* HOME SECTION */
.home {
  width: 100%;
  height: 100%;
}
.home-d {
  display: flex;
  justify-content: space-between;
}

.h-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
  margin-top: 100px;
}

.h-details h3 {
  margin: 5px;
}
.h-details h1 {
  margin: 0;
  font-size: 40px;
}
span {
  color: orangered;
}
.h-details p {
  font-size: 18px;
  margin: 5px;
}

.btn {
  width: 150px;
  border: 3px solid;
  border-width: 0;
  padding: 10px;
  border-radius: 8px;
  background: linear-gradient(90deg, #f5af5f, #ee8c0d);
  cursor: pointer;
}

.btn:hover {
  box-shadow: 5px 5px 5px rgba(243, 119, 3, 0.781);
  transition-delay: 0.3s ease-in-out;
}

.social-icons {
  display: flex;
}

.social-icons a {
  display: inline-flex;
  padding: 5px;
  border: 2px solid #222;
  border-radius: 8px;
  font-size: 14px;
  color: orangered;
  text-decoration: none;
  margin: 0 8px;
  margin-bottom: 10px;
}

.p-img {
  width: 400px;
  height: 450px;
  margin: 30px;
  margin-right: 60px;
  border-radius: 18px;
}

/*ABOUT SECTION */
.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about {
  width: 100%;
  height: 100%;
}
.about .p-img {
  margin: 50px;
}

.a-details {
  font-size: 20px;
}
.a-details p {
  margin-bottom: 10px;
  margin-right: 100px;
}
.a-details h4 {
  margin-top: 5px;
  margin-bottom: 10px;
}
.a-details h1 {
  margin-bottom: 0;
  font-size: 35px;
}

.heading {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading span {
  margin-left: 5px;
}

/* SERVICES SECTION */
.services {
  width: 100%;
  height: 550px;
}
.services .heading {
  padding-top: 25px;
}

/* PORTFOLIO SECTION */
.Portfolio {
  width: 100%;
  height: 100%;
  margin-top: 50px;
}
.Portfolio .heading {
  padding-top: 25px;
}
.s-boxs {
  display: flex;
  justify-content: space-between;
  margin: 25px;
  padding-bottom: 30px;
}

.s-box {
  width: 350px;
  height: 360px;
  border: 2px solid #222;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.s-box h1 {
  margin-bottom: 0;
}
.s-box button {
  margin-top: 10px;
}

.s-box ol {
  font-size: 18px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  height: 200px;
  margin: 20px 20px;
}

.Portfolio .s-boxs .s-box {
  margin-right: 10px;
  width: 300px;
  height: 300px;
}

.Portfolio .s-boxs .s-box img {
  width: 200px;
  height: 150px;
  margin-top: 20px;
}

/* CONTACT SECTION */
.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  width: 100%;
  height: 100%;
}
form {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 500px;
}
form input {
  padding: 20px;
  margin: 10px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 8px;
  text-decoration: none;
}
form textarea {
  padding: 20px;
  margin: 10px;
  font-size: 15px;
  font-weight: 600;
  border: 2px solid;
  border-radius: 8px;
}
.submit {
  width: 150px;
  border: 3px solid;
  border-width: 0;
  padding: 10px;
  border-radius: 8px;
  background: linear-gradient(90deg, #f5af5f, #ee8c0d);
  cursor: pointer;
  margin-left: 270px;
}

/*FOOTER SECTION */
footer {
  background: #f5af5f;
  padding: 5px;
  border-radius: 8px;
  width: 100%;
  height: 50px;
}
footer h4 {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* MOBILE VIEW MENU-BAR*/
.sidebar {
  position: fixed;
  top: 10px;
  height: 100vh;
  border: 3px solid;
  border-width: 0;
  border-radius: 8px;
  background-color: rgba(250, 235, 215, 0.281);
  backdrop-filter: blur(10px);
  color: #222;
  width: 20%;
  z-index: 999;
  display: none;
  flex-direction: row;
  right: 0;
}

.sidebar .h-tags a {
  color: #222;
  width: 100%;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
}
.sidebar .h-tags a:hover {
  color: orangered;
}
.sidebar .h-tags {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.hide-m {
  display: none;
}

/* RESPONSIVE MOBILE VERSION */
@media screen and (max-width: 450px) {
  html{
    width: 100%;
  }
  
  header {
    width: 400px;
    margin: 0;
    padding: 0;
  }
  .h-tags {
    display: flex;
    flex-direction: column;
  }
  .sidebar {
    width: 50%;
    height: 100%;
    position: fixed;
  }

  .container {
    width: 100%;
    height: 100%;
  }
  .heading {
    width: 100%;
    margin: 15px;
  }
  .home-d {
    display: inline;
    width: 100%;
    font-size: 20px;
    height: 200px;
    margin-top: 0;
  }
  .h-details {
    width: 100%;
    margin-top: 50px;
  }
  .h-details p {
    width: 200px;
  }
  .p-img {
    height: 250px;
    width: 300px;
    margin-left: 50px;
  }

  .about {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
  }
  .a-details {
    margin-left: 50px;
  }
  .a-details p {
    margin-right: 40px;
  }
  .about .p-img {
    margin-left: 110px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 250px;
    width: 320px;
  }
  .s-boxs {
    display: inline;
    width: 100%;
  }
  .s-box {
    margin: 10px;
    margin-left: 20px;
    width: 100%;
  }
  .services {
    width: 400px;
    height: 100%;
  }
  .services .heading {
    margin: 10px;
    width: 400px;
  }
  .services .s-boxs {
    margin: 10px;
    width: 400px;
  }
  .services .s-boxs .s-box {
    margin-left: 20px;
    width: 380px;
  }
  .Portfolio {
    width: 400px;
    height: 100%;
  }
  .Portfolio .heading {
    margin-left: 20px;
    width: 400px;
    align-items: center;
    justify-content: center;
  }
  .Portfolio .s-boxs .s-box {
    width: 360px;
    height: 100%;
    margin-left: 20px;
    padding: 0;
  }
  .Portfolio .s-boxs .s-box h1 {
    margin-top: 10px;
  }
  .Portfolio .s-boxs .s-box img {
    width: 280px;
    margin: 10px;
  }
  .Portfolio .s-boxs .s-box .btn {
    margin: 10px;
  }
  .contact {
    width: 400px;
    height: 100%;
  }
  .contact h1{
    width: 400px;
    display: flex;
    align-items: center;
  }
  .form-details {
    width: 400px;
    height: 100%;
  }
  form {
    width: 400px;
    height: 100%;
    margin: 10px;
    margin-left:0;
  }
  .submit {
    margin-left: 120px;
  }
  footer {
    width: 400px;
    height: 100%;
  }
  footer h4 {
    display: flex;
    align-items: center;
  }
}

/* RESPONSIVE NAVIGATION BAR */

@media screen and (max-width: 800px) {
  .hide {
    display: none;
  }
  .hide-m {
    display: block;
  }
}
